<div class="row form-back">
    <div class="col-md-4"></div>
    <div class="col-md-4 div-top">
        <form >
            <fieldset >
                <legend></legend>
                <label>Enter your Name :</label><br>
                <input type="text" name="name" /><br><br>
                <label>Enter your Marks :</label><br><br>
                <label>AI</label><br>
                <input type="number" name="AI-marks" /><br><br>
                <label>Python</label><br>
                <input type="number" name="Python-marks" /><br><br>
                <label>Maths</label><br>
                <input type="number" name="Maths-marks" /><br><br>
                <label>Angular</label><br>
                <input type="number" name="Angular-marks" /><br><br>
                <button class = "btn-submit btn-lbl " >Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>