<div class="row form-back">
    <div class="col-md-4"></div>
    <div class="col-md-4 div-top">
        <form [formGroup]="studentValue" (ngSubmit)="onSubmit()">
            <div class="formbox" >
                <div class="form-group">
                    <label>Enter your Name :</label><br>
                    <input type="text" name="name" formControlName="name" class="form-control"
                        (keyup)="getSubmitValue()" [ngClass]="{ 'is-invalid': submitted && fval.name.errors }" />
                    <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                        <div *ngIf="fval.name.errors.required">
                            Name is required and must be a valid name
                        </div>
                    </div>
                </div>                
                <br><br>
                <div formGroupName="marks">
                    <label>Enter your Marks :</label><br><br>
                    <div class="form-group">
                        <label>AI</label><br>
                        <input type="text" name="AI-marks" formControlName="AI" class="form-control" minlength="1"
                            maxlength="2" (keyup)="getSubmitValue() ;checkAI($event)" />
                        <div *ngIf=" AIError" class="Error">
                            *drop down your marks out of 60
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Python</label><br>
                        <input type="text" name="Python-marks" formControlName="Python" class="form-control"
                            minlength="1" maxlength="2" (keyup)="getSubmitValue() ;checkPython($event)" />
                        <div *ngIf="PyError" class="Error">
                            *drop down your marks out of 60
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        <label>Maths</label><br>
                        <input type="text" name="Maths-marks" formControlName="Maths" class="form-control" minlength="1"
                            maxlength="2" (keyup)="getSubmitValue();checkMaths($event)" />
                        <div *ngIf="MaError" class="Error">
                            *drop down your marks out of 60
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        <label>Angular</label><br>
                        <input type="text" name="Angular-marks" formControlName="Angular" class="form-control"
                            minlength="1" maxlength="2" (keyup)="getSubmitValue();checkAngular($event)" />
                        <div *ngIf="NgError" class="Error">
                            *drop down your marks out of 60
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn-submit btn-lbl "  [disabled]="submitValue">Submit</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
