

.div-header{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
.btn-submit{
    float: right;
    /* background-color:#3654D7   ; */
    background-color:#0A9D9B ;
    width: 150px;
    height: 50px;    
    border-radius: 5px;
    border: none;
}
.btn-lbl{
    color: white;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.tdd{
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
}
thead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 600;
}
 button{
    border: none;
    color :#0A9D9B;
    outline: none;
    background-color: white;
}
.div-left{
    margin-left: 10px;
    width: 400px;
    float: left;
}
.btn-lft{
    margin-left: 500px;
    font-size: 15px;
    font-weight: 500;
}
.div-right{
    margin-left: 10px;

}
.select-menu{
    margin-left: 100px;
    font-size: 15px;   
}
ng-select{
    width: 350px;
}
.checkbox-input{
    font-size: 10px;
}
.div-checkbox{
   margin-left: 20px;
   display: inline;
    
}
.checkboxxx{
    margin-left: 100px;
}
.btn-back{
    margin-left:500px;
    font-size: 12px;
}

@media print{

  input[type=checkbox]:checked  :after {
    
  }
  .noprint
    {
        display: none;
    }
    
}

@media screen
{

}
